.avatar {
    text-align: center;
    margin-bottom: 25px;
}

.question {
    font-style: italic ;
    font-weight: bold;
    align-items: center;
}

.sections {
    text-align: center;
    margin: 0;
    padding: 4vh;
    padding-right: 5vw;
    padding-left: 5vw;
    overflow: hidden;
    &:nth-of-type(2n) {
        padding-left: 5vw;
        padding-right: 5vw;
        background-color: #2228319c ;
        color: #dddddd;
        box-shadow: 0 8px 6px -6px #2228319c;
        margin-bottom: 4px;
    }
    
}

.top {
    padding-top: 10%;
    height: 88.8vh;
}

.para {
    text-align: start;
    margin-bottom: 0%;
}

.paraBis {
    text-align: end;
}

.a {
    color: #f05454;
    text-decoration: none;
}
.a:hover{
    color: #f05454;
    font-weight: bold;
}

