.row {
    padding-bottom: 10px;
}

.credits {
    font-size: .5vh;
    color: transparent;
    text-decoration: none;
}

.cont {
    overflow: unset;
    &:nth-of-type(2n) {
        direction: rtl;
    }
}

@media (max-width: 560px) {
    .cont {
        text-align: center;
        margin-bottom: 10vh;
    }

    .img {
        padding: 5vw;
    }
}


.para{
    padding-left: 4%;
    padding-top: 15px;
}

.img {
    padding-top: 8px;
    text-align: center;
    justify-content: center;
}