.labels {
    text-align: left;
    font-size: 50px;
}

.submit {
    margin-top: 2vh;
    text-align: center;
}

.form-row {
    margin-top: 2vh;
}

.error {
    padding: 1vh;
    color: rgb(236, 58, 58);
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-weight: 600;
}

.hidden {
    visibility: hidden;
}

