.contain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4vh;
}

.cardDeck {
    margin-top: 4vh;
}

.linkStyle {
    text-decoration: none;
    color: inherit;
}

.linkStyle:hover {
    color: inherit;
    font-size: 1.3rem;
}