.top {
    text-align: center;
}

.cont {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.credits {
    font-size: .5vh;
    color: transparent;
    text-decoration: none;
}

.dev {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.imgRow {
    text-align: center;
}

@media (max-width: 600px) {
    .marged {
        margin-bottom: 10vh;
    }
      
  }